
<div style="
      background-image:URL(../assets/images/DropsViolet.PNG);
      width:100rem;
      height:80rem;
      text-align:center">
  <img src="../assets/images/me.jpg" alt="me" style="width:300px;height:300px">

    <p style="font-size:18px"><b style="background-color:rgb(79, 50, 104);color:#fffb2b">
      Hi! My name is JUVIE ANN A. PALAÑA.</b>
    </p>
    
    <p style="font-size:20px"><b style="background-color:rgb(79, 50, 104);color:#c9c504">
      I am a student at<i> Eastern Visayas State University.</i></b>
    </p>
</div>